body:before {
    content: ' ';
     display: block !important;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 11111;
    opacity: 0;
}
body{
    background:red !important;
}
body {
    opacity: 0.1 !important;
}
body.home.page-template-default.page.page-id-8217.logged-in.admin-bar.wp-custom-logo.ehf-footer.ehf-template-astra.ehf-stylesheet-astra.ast-desktop.ast-page-builder-template.ast-no-sidebar.astra-4\.3\.1.ast-single-post.ast-inherit-site-logo-transparent.ast-hfb-header.elementor-default.elementor-kit-8.elementor-page.elementor-page-8217.customize-support.dialog-body.dialog-buttons-body.dialog-container.dialog-buttons-container.e--ua-blink.e--ua-chrome.e--ua-webkit.mysticky-welcomebar-apper {
    opacity:  0.1 !important;
}
body.home.page-template-default.page.page-id-8217.wp-custom-logo.ehf-footer.ehf-template-astra.ehf-stylesheet-astra.ast-page-builder-template.ast-no-sidebar.astra-4\.3\.1.ast-single-post.ast-inherit-site-logo-transparent.ast-hfb-header.elementor-default.elementor-kit-8.elementor-page.elementor-page-8217.e--ua-blink.e--ua-chrome.e--ua-webkit.mysticky-welcomebar-apper.ast-desktop {
    opacity:  0.1 !important;
}
